<% include ../partials/headerAdmin %>
      <div>
        <table class="table table-bordered">
          <tr>
            <th>OrderId</th>
            <th>UserName</th>
            <th>Adrress</th>
            <th>TotalQty</th>
            <th>TotalPrice</th>
            <th>Status</th>
          </tr>
          <% for (var i = 0; i < orders.length; i++) { %>
              <tr>
                <td><%= orders[i]._id %></td>
                <td><%= orders[i].name %></td>
                <td><%= orders[i].address %></td>
                  <td><%= orders[i].cart.totalQty %></td>
                  <td>$<%= orders[i].cart.totalPrice %></td>
                <td>
                  <% if ( orders[i].status == 1 ) { %>
                    <select class="status-order" data-id="<%= orders[i]._id %>">
                      <option value="1" selected >Processing</option>
                      <option value="2">Done</option>
                      <option value="0">Cancel</option>
                    </select>
                  <% } else if ( orders[i].status == 2 ) { %>
                    <select class="status-order" data-id="<%= orders[i]._id %>" >
                      <option value="1">Processing</option>
                      <option value="2" selected >Done</option>
                      <option value="0">Cancel</option>
                    </select>
                  <% } else { %>
                    <select class="status-order" data-id="<%= orders[i]._id %>" >
                      <option value="1">Processing</option>
                      <option value="2">Done</option>
                      <option value="0" selected >Cancel</option>
                    </select>
                  <% } %>
                </td>
              </tr>
          <% }; %>    
        </table>
        <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>">
      </div>

      <!-- Pagination -->
      <div class="row text-center">
        <% if (pages > 0) { %>
          <ul class="pagination text-center">
              <% if (current == 1) { %>
                  <li class="disabled"><a>First</a></li>
              <% } else { %>
                  <li><a href="/admins/orders/1">First</a></li>
              <% } %>
              <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
              <% if (i !== 1) { %>
                  <li class="disabled"><a>...</a></li>
              <% } %>
              <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                  <% if (i == current) { %>
                      <li class="active"><a><%= i %></a></li>
                  <% } else { %>
                      <li><a href="/admins/orders/<%= i %>"><%= i %></a></li>
                  <% } %>
                  <% if (i == Number(current) + 4 && i < pages) { %>
                      <li class="disabled"><a>...</a></li>
                  <% } %>
              <% } %>
              <% if (current == pages) { %>
                  <li class="disabled"><a>Last</a></li>
              <% } else { %>
                  <li><a href="/admins/orders/<%= pages %>">Last</a></li>
              <% } %>
          </ul>
        <% } %>
      </div>

<% include ../partials/footerAdmin %>