<% include ../partials/header %>
<% include ../partials/slideshow %>
<div class="list-content">

				<div class="row title">
					<h1>Books</h1>
				</div>
				
				<div class="row">
			        <div id="success" class="alert alert-success <% if (noMessages) { %> hidden <% } %> ">
			          <%= successMsg %>
			        </div>
		      	</div>
		      	
				
				<!-- Pagination -->
				<!-- Pagination search -->
				<% if (search) { %>
					<% if (productSearch.length > 0) { %>
						<% for (var i = 0; i < productSearch.length; i++) { %>
					      	<div class="row">
								<% for(var j = 0; j < productSearch[i].length; j++) { %>
					                <div class="col-4 col-s-4 card">
					                    <div class="img-card">
					                      <img src="<%= productSearch[i][j].imagePath %>" alt="...">
				                      	</div>
				                     		<div class="container">
					                     		<h3><b>$<%= productSearch[i][j].price %></b></h3>
												<h4><%= productSearch[i][j].title %></h4>
												<a href="/add-to-cart/<%= productSearch[i][j]._id %>" class="add-to-cart" role="button">
													<i class="fas fa-shopping-cart"></i>
												</a>
					                    	</div>
					                </div>
					            <% } %>
							</div>
						<% } %>
					<% } else { %>
					 	<div>
						 	<h2>Your Search was not matched, please try again!</h2>
					 	</div>
				 	<% } %>

					<% if (pages > 0) { %>
						<div class="pagination">
							<% if (current == 1) { %>
								<a class="disabled" href=#>&laquo;</a>
							<% } else { %>
								<a href="/?search=<%= search %>&page=1">&laquo;</a>
							<% } %>
							<% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
							<% if (i !== 1) { %>
								<a class="disabled" >...</a>
							<% } %>
							<% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
								<% if (i == current) { %>
									<a class="active" %>"><%= i %></a>
								<% } else { %>
									<a href="/?search=<%= search %>&page=<%= i %>" ><%= i %></a>
								<% } %>
								<% if (i == Number(current) + 4 && i < pages) { %>
									<a class="disabled" >...</a>
								<% } %>
							<% } %>
							<% if (current == pages) { %>
								<a class="disabled" >&raquo;</a>
							<% } else { %>
								<a href="/?search=<%= search %>&page=<%= pages %>" >&raquo;</a>
							<% } %>
						</div>
					<% } %>
				<% } else { %>
					<% if (products) {  %>
						<% for (var i = 0; i < products.length; i++) { %>
					      	<div class="row">
								<% for(var j = 0; j < products[i].length; j++) { %>
					                <div class="col-4 col-s-4 card">
					                    <div class="img-card">
					                      <img src="<%= products[i][j].imagePath %>" alt="...">
				                      	</div>
				                     		<div class="container">
					                     		<h3><b>$<%= products[i][j].price %></b></h3>
												<h4><%= products[i][j].title %></h4>
												<a href="/add-to-cart/<%= products[i][j]._id %>" class="add-to-cart" role="button">
													<i class="fas fa-shopping-cart"></i>
												</a>
					                    	</div>
					                </div>
					            <% } %>
							</div>
						<% } %>
					<% } %>

					<% if (pages > 0) { %>
						<div class="pagination">
							<% if (current == 1) { %>
								<a class="disabled" href=#>&laquo;</a>
							<% } else { %>
								<a href="/products/1">&laquo;</a>
							<% } %>
							<% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
							<% if (i !== 1) { %>
								<a class="disabled" >...</a>
							<% } %>
							<% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
								<% if (i == current) { %>
									<a class="active" %>"><%= i %></a>
								<% } else { %>
									<a href="/products/<%= i %>" ><%= i %></a>
								<% } %>
								<% if (i == Number(current) + 4 && i < pages) { %>
									<a class="disabled" >...</a>
								<% } %>
							<% } %>
							<% if (current == pages) { %>
								<a class="disabled" >&raquo;</a>
							<% } else { %>
								<a href="/products/<%= pages %>" >&raquo;</a>
							<% } %>
						</div>
					<% } %>
				<% } %>
</div>
<% include ../partials/footer %>