<% include ../partials/header %>

<div style="padding: 15px;">
    <% if (productsCart) { %>
       <table id="shopping-cart-table">
          <tr>
            <th>Image</th>
            <th>Product Name</th>
            <th>Qty</th>
            <th>Unit Price</th>
            <th>Subtotal</th>
            <th>Action</th>
          </tr>
          <% productsCart.forEach( function(element) { %>
              <tr>
                <td><img src="<%= element.item.imagePath %>" alt=""></td>
                <td><%= element.item.title %></td>
                <td><a class="qty" href="/reduce/<%= element.item._id %>">-</a> <%= element.qty %> <a class="qty" href="/plus/<%= element.item._id %>">+</a></td>
                <td>$<%= element.item.price %></td>
                <td>$<%= element.price %></td>
                <td><a href="/remove/<%= element.item._id %>"><i class="fas fa-trash-alt"></i></a></td>
              </tr>
          <% }); %>
        </table>
    <% } else { %>
        <div class="row">
                <h2>No Item in Cart</h2>
        </div>
    <% } %>

    <div class="total-checkout col-6 col-s-8 float-right">
        <strong><span class="float-left">Total: </span><span class="float-right">$<%= totalPrice %></span></strong>
        <hr class="clear">
        <a href="/checkout" class="checkout">
            Check Out
        </a>
    </div>
</div>

<% include ../partials/footer %>
